.about{
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    background-color:black;
}
.container{
    color: greenyellow;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.about-col-1{
    flex-basis: 30%;
}
.fa-address-card{
    padding-top: 50px;
    font-size: 20rem;
    color: rgb(255, 220, 47);
}
.about-col-2{
    flex-basis: 60%;
    margin: auto;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;   
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;  
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffe100;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul{
    margin: 0 0 0;
    padding: 0 0 0 0;
    text-align: left;
}
.tab-contents ul li span{
    color: #ffd560;
    font-size: 16px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.about-me{
    text-align:justify;
    color: #81ee0d;
}
.tab-links{
    color:rgb(255, 234, 0) ;
}
@media screen and (max-width:850px) { 
    .about{
        height:140vh;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-col-2{
        padding: 30px;
    }
    .tab-links::after{
        background:#fff201;
    }
} 