.coding{
    padding-top:30px;
    width: 100%;
    height: 90vh;
    background-color:black;
}
.coding .container{
   justify-content: center;
}
.coding-list{
    display:flex;
    flex:1 1 0px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 60px;
    margin-top: 50px;
}
.coding-list div{
    background:#262626;
    padding:40px;
    font-size: 13px;
    font-weight:300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;  
}
a{
    text-decoration:none;
}
a .lc{
    color:orange;
}
a .gfg,.hr{
    color:greenyellow;
}
div .lc:hover{
    background-color: #ffcd2a;
    transform: translateY(-10px);
    color: #262626;
}
div .gfg:hover{
    background-color:greenyellow;
    transform: translateY(-10px);
    color: #262626;
}
div .hr:hover{
    background-color:greenyellow;
    transform: translateY(-10px);
    color: #262626;
}
@media screen and (max-width:850px) { 
    .coding{
        height:160vh;
    }
    .coding-list{
        display:grid;
    }
    .coding-list div{
        width: 75%;
        margin: auto;
    }
    .sub-title{
        font-size: 50px;
    }
}