.contact{
    width: 100%;
    height: 80vh;
    background-color:black;
    margin: auto;
}
.contact .sub-title{
    padding-bottom: 50px;
}
.row{
    padding-top:50px;
}
.contact-left{
    flex-basis: 40%;
    text-align: left;
}
.contact-right{
    flex-basis: 50%;
}
.btn {
    background-color:yellowgreen;
    margin-top: 25px;
    margin-bottom: 25px;
    color:black;
}
a .btn-button:hover{
    color:greenyellow;
}
.contact-left p{
    margin-top:30px;
}
.contact-left p i{
    color:rgb(195, 195, 195) ;
    margin-right: 15px;
    font-size:25px;
}
.social-icons{
    margin-top:30px;
}
.social-icons a{
    text-decoration:none;
    font-size:30px;
    margin-right: 15px;
    color:greenyellow;
    display: inline-block;
    transition: transform 0.3s;
}
a .fa-envelope:hover{
    color:rgb(221, 28, 140);
}

a .fa-phone:hover{
    color:rgb(7, 239, 201);
}
.social-icons a:hover{
    transform:translateY(-10px);
}

.social-icons a .fa-twitter{
    color:lightskyblue;
}
.social-icons a .fa-instagram{
    color:rgb(255, 0, 174)
}
.social-icons a .fa-linkedin{
    color:rgb(92, 92, 255);
}
.social-icons a .fa-github{
    color:rgb(255, 255, 255);
}
.btn{
    display: inline-block;
    color: rgb(0, 0, 0);
}
.contact-right form{
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border:0;
    outline:auto;
    background:rgb(12, 12, 12);
    padding: 15px;
    margin:15px 0;
    color:greenyellow;
    font-size:18px;
    border-radius:6px;
    outline-color:greenyellow;
}
form .btn{
    padding:14px 60px;
    font-size:18px;
    cursor: pointer;
    color: black;
}
form .btn:hover{   
    color: greenyellow;
    border-radius: 55px;
}
#msg{
    color:rgb(255, 162, 0);
}
@media screen and (max-width:850px){
    .contact{
        width: 100%;
        height: 135vh;
        padding-right:12px;
        padding-left: 12px;
    }
}
