.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 20px;
    box-shadow: 0 5px 10px  rgba(255, 255, 255, 0.502);
    background: linear-gradient(-45deg, #000000, #989898, #000000, #a7a7a7);
    background-size: 400% 400%;
    animation: gradient 5s ease-out infinite;
    width: 95%;
    height: 70px;
    border-radius: 13px;
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    font-family:"Lucida handwriting", cursive ;
    z-index: 500;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.logo{
    color: greenyellow;
    justify-self: start;
    cursor: pointer;
    font-size: 30px;
}
.fa-spider{
    margin-left: 0.2rem;
    font-size: 1.6rem;
}
.nav-menu{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:60px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
}

.nav-links{
    text-decoration: none;
    color:greenyellow;
    padding: 0.7rem 1rem; 
}
.nav-links i{
    padding-right: 10px;
}
.nav-links:hover{
    color: rgb(255, 255, 255);

    transition:all 0.2s ease-in-out;
}
.fa-bars,.fa-times{
    color:greenyellow;
}
.menu-icons{
    display: none;
}
@media screen and (max-width:850px) {
    .NavbarItems{
        z-index: 99;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background:rgba(92, 92, 92, 0.386);
        box-shadow: 0 8px 32px 0 rgb(31, 38, 135,.37);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        width: 100%;
        height: auto;
        position: absolute;
        top:0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin:0;
        z-index:-1;
        transition: 0.5s ease-in-out;
    }
    .nav-menu.active{
        left:0%;
    }
   .nav-links{
    display: block;
    widows: 100%;
    padding:2rem 0;
    color:rgb(255, 255, 255);
   }
    .nav-links:hover{
        background:rgb(0, 0, 0);
        backdrop-filter:  blur(20px);
        color:greenyellow;
    }
    .menu-icons{
        display: block;
    }
}